.formRecherche{
    z-index: 0 !important;
}
.logoSite{
    width: 250px;
}
.paginate_button a{
    color : white!important;
}

.transparent{
    display: none !important;
}

.btnPrecedent {
    padding: 5px 20px !important;
    font-size: 15px!important;
    line-height: 26px!important;
}

.formPerso{
    width: 100%!important;
    border: 1px solid #2d3a4b!important;
    margin-bottom: 10px!important;
}

.menuPanier{
    padding: 20px !important;
    border: none!important;
    border-radius: 0px!important;
    min-width: 350px!important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
    margin-top: 0px;
    box-shadow: 0 5px 6px rgba(0,0,0,.1);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.menuPanier > li > a {
    display: block;
    padding: 6px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #878c94;
    white-space: nowrap;
}
header .user-basket .menuPanier li {
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    width: 100%;
}

.menuClient{
    min-width: 150px !important;
}


.progressbar {
    counter-reset: step;
}
.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: green;
}
.progressbar li.active:before {
    border-color: #55b776;
}
.progressbar li.active + li:after {
    background-color: #55b776;
}




.mr-5 {
    margin-right: 5px;
}
.ml-5 {
    margin-left: 5px;
}
.w-100{
    width: 100px;
}
.w-150{
    width: 150px;
}
.w-250{
    width: 250px;
}

.corps{
    margin-top: 100px;
}
.logo{
    position: relative;
    top: 32px;
}

.topBar {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 15px;
    position: fixed;
    width: 100%;
    z-index: 2;

}
.topBar ul {
    margin: 0;
}

.topBar a {
    color: #878c94;text-decoration:none;
}
.text-primary {
    color: #0cd4d2;
}

.topBar ul.topBarNav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.topBar ul.topBarNav li {
    position: relative;
    display: inline-block;
    margin-right: -4px;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.topBar ul.topBarNav li:last-child {
    border-right: none;
}
.topBar ul.topBarNav li a {
    display: block;

    padding-right: 12px;
}

.nbImage {
     font-style: none;
}

.inputList{
    width: 40px;
}
.btnInv{
    opacity: 0 !important;
}

.topBar ul.topBarNav li ul {
    background-color: #ffffff;
    position: absolute;
    top: 42px;
    left: auto;
    min-width: 310px;
    right: 4px;
    border-radius: 0px;
    border: solid 0px;
    margin-right: -4px;
    padding: 0;
    list-style-type: none;
    z-index: 9999;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
}
.topBar ul.topBarNav li ul li {
    display: block;
    line-height: 30px;
    width: 100%;
    border: none;
}

.topBar ul.topBarNav li a {
    display: block;
    padding-left: 12px;
    padding-right: 12px;
}
.topBar .dropdown-menu > li > a {
    display: block;
    padding: 6px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #878c94;
    font-size:15px;
    white-space: nowrap;
}
.topBar .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #00BCD4;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.02);
}

.ascenseurH{
    overflow-x: scroll;
}

.prixLivraison {
    background: #ffe115;
    position: absolute;
    height: 50px;
    width: 100px;
    top: 0px;
    right: 0px;
    z-index: 99;
    text-align: center;
    color: #fff;
    font-weight: bold;
    line-height: 16px;
    font-size: 18px;
    padding-top: 10px;
}
/*CART/////////////////////*/


.cart-items::-webkit-scrollbar {
    width: 6px;
    background-color: #ECECEC;
}

.cart-items::-webkit-scrollbar-thumb {
    background-color: #084951;
    outline: 1px solid black;
}

.topBar ul.topBarNav li ul.cart .cart-items{
    padding: 10px;
    height: 200px;
    overflow: auto;
}

.topBar ul.topBarNav li ul.cart .cart-items .items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.topBar ul.topBarNav li ul.cart .cart-items .items li {
    overflow: hidden;
    clear: left;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.topBar ul.topBarNav li ul.cart .cart-items .items li .product-image {
    width: 60px;
    float: left;
}
.topBar ul.topBarNav li ul.cart .cart-items .items li a {
    margin: 0;
    padding: 0;
    line-height: normal;
    background-color: transparent;
    display: inline;
}
.topBar ul.topBarNav li ul.cart .cart-items .items li .product-details {
    position: relative;
    margin-left: 60px;
    padding: 0 15px 0 10px;
}
.topBar ul.topBarNav li ul.cart .cart-items .items li .product-details .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    line-height: normal;
}
.topBar ul.topBarNav li ul.cart .cart-footer {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.02);
}
.topBar ul.topBarNav li ul.cart .cart-footer a {
    text-align: center;
    padding: 10px 20px;
    margin: 0;
    background-color: transparent;
}


/*/////////////////////////middleBar//////////////////////*/

.middleBar {
    padding: 10px 0 0 0;
    margin: 0;min-height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

@media (min-width: 767px){

    .display-table {
        display: table;
        width: 100%;
    }
    .vertical-align {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
    .grid-space-1 div[class*="col-"] {
        padding: 0 1px;
    }
}

@media (max-width: 767px){

    div[class^="col-"] {
        margin-bottom: 30px;
    }
}

.middleBar .form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.form-control.input-lg {
    font-size: 15px;
}

.middleBar .btn.btn-default {
    color: #ffffff;
    background-color: #0cd4d2;
    border: 1px solid #0cd4d2;
    border-radius: 0px;
}
.middleBar .header-items .header-item {
    display: inline-block;
}

.textAlignCenter{
    text-align: center;
}

.survol:hover{
    color:gold;
}

.middleBar .header-items .header-item a {
    position: relative;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.08);
    width: 40px;
    height: 40px;
    line-height: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    color: #35404f;
}
.middleBar .header-items .header-item a sub {
    position: absolute;
    bottom: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #0cd4d2;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    color: #ffffff;
    font-size: 9px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.middleBar .header-items .header-item a:hover {
    background-color: #0cd4d2;
    color: #ffffff;
}

/*/////////////////////////navbar-default///////////////*/

.navbar-default {
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #ffffff;
    margin-bottom: 0;
    border: none;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #0cd4d2;
    background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:after {
    border-top:solid 2px #0cd4d2;

}
.navbar-default .dropdown-menu {
    padding: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #878c94;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.dropdown-menu > li > a {
    display: block;
    padding: 6px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #878c94;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover{
    color: #0cd4d2;
}


/***********************
     megaDropMenu
////////////////////////////*/

.navbar-default .container{
    position:relative;
}
.navbar-default .navbar-collapse li.dropdown.megaDropMenu {
    position: static;
}

.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu{
    width: 100%;
}
.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu li ul li:first-child{
    padding: 20px 0px 5px 15px;
    font-size: 16px;
    text-transform: uppercase;
    /* text-align: center; */
    color: #0cd4d2;
}
.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu li ul li a{
    display:block;color:#878c94;font-size: 14px;text-decoration:none;padding:8px 15px;
}
.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu li ul li a:hover{
    color: #00BCD4;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.02);
}

.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu img{
    display: block;
    max-width: 100%;
    padding: 20px;
}



/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
    text-align: center;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.icoYoutube{
    background-color: #ef1b1c !important;
}
.icoFacebook{
    background-color: #3B5998 !important;
}
.icoInsta{
    background-color: #a22dc6 !important;
}

/* footer social icons */
.social-network a.icoYoutube:hover {
    background-color: #ef1b1c;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}

.social-network a.icoInsta:hover {
    background-color:#a22dc6;
}
.social-network a.icoYoutube:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoInsta:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.lienSocial {
    background-color: #D3D3D3;
}

.click{
    cursor: pointer;
}

.classNone {
    display: none;
}

.margin5{
    margin-top: 5;
}

.dataTables_scrollHeadInner{
    width: 100%!important;
}
table{
    width: 100%!important;
}


.marginBottom5{
    margin-bottom: 5px !important;
}

.panel-blue{
    background-color: #4398b7;
}

.titleWhite{
    color: white;
    font-size: 18px;
    font-weight: bold;
}


.textEnGras{
    font-size: 16px !important;
    font-weight: bold !important;
}

.pWhite{
    color: white;
   
}

.noPaddingBottom{
    padding-bottom: 0px !important;
}

.noMarginBottom{
    margin-bottom: 0px !important;
}

