.rouge{
    color:red;
}

.marron{
    color:brown;
}

.cursor{
    cursor: pointer;
}

.blueFb {
    color : #3b5998;
}

.violet{
    color : #E1306C;
}

.blanc {
    color: white !important;
}

.alertColor{
    color: black;
}