.rouge{
    color:red;
}

.marron{
    color:brown;
}

.cursor{
    cursor: pointer;
}

.blueFb {
    color : #3b5998;
}

.violet{
    color : #E1306C;
}

.blanc {
    color: white !important;
}

.alertColor{
    color: black;
}

.bleuTurquoise{
    color:#0cd4d2!important;
}

.noir{ 
    color : black !important;
}

.rose{ 
    color : rgb(223, 61, 88) !important;
}

.blue {
    color : blue;
}